<html>
  <head>
    <body>
      <div style="font-size:40px;">Search cats images examples:<br></div>
      <ul>
        <li>https://thecatsite.glitch.me/api/imagesearch/lolcats?offset=10</li>
        <li>https://thecatsite.glitch.me/api/imagesearch/blackcat?offset=2</li>
        <li>https://thecatsite.glitch.me/api/imagesearch/funny?offset=30</li>
      </ul>
            <div style="font-size:40px;margin:20 0 0 0 ">Search recent searches:<br></div>
      <ul>
        <li>https://thecatsite.glitch.me/api/latest/imagesearch/</li>
    
      </ul>
      
    </body>
  </head>
</html>